.signup {
  display: flex;
  justify-content: center;
  form{
    display: flex;
    flex-flow: column;
    input{
      margin-top: 20px;
    }
    .submit_button{
      margin-top: 20px;
    }
  }
}
.login {
  display: flex;
  justify-content: center;
  form{
    display: flex;
    flex-flow: column;
    input{
      margin-top: 20px;
    }
    .submit_button{
      margin-top: 20px;
    }
  }
}

.form-input {
  padding: 6px 15px;
  border-radius: 3px;
  border: 1px solid black;
}
